body {
    background-color: azure;

}

p,
form {
    display: none;
}

p {
    width: 200px;
    height: 50px;
    background-color: #b3ecff;
    border-color: #0099cc;
    border-radius: 5px;
    font-weight: 18px;
    color: black;

}